<html>
  <body>
  #set( $Palabra = "Velocity" )
   

  <table>
  <th>Nombre</th>
  <th>ID</th>
  <th>Carrera</th>
  <tr>
 
  #foreach($u in $usuarios)
      <td> $u.nombre </td>
      <td> $u.id </td>
      <td> $u.carrera </td>
        </tr>
  #end

  #if($Palabra == "Velocity")
  #set($Frase = Ejemplo $Palabra)
  $Frase
  #end
  $Frase
  
  </table>
  </body>
</html>